padding-block: min(10vh,10rem); // only top and bottom padding 

/******** min ***********/
width: 70%;
max-width: 500px;
or
width: min(500px,70%) ; matches short one 

/*******Responsive font size without media query ***************/
p
{
  font-size: clamp(1rem, 1.25vw, 1.25rem); min ,stable(ideal), max
  
}

.home h1, .home btn, .home div {
  color: red;
}
or 
.home :is(h1,btn,div) {
  color: red;
}

/********Aspect-ratio **********/

.box{
  width:50rem;
  aspect-ratio: 1 / 1; (perfect square)
}

