/* Two Important elements in flex-box are flex container and flex items  */
/* Every direct child is a flex item */

.container {
  /* display: inline-flex; it only takes up the content width */
  display: flex; /* as block level container eleement */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; /* flex-start default value */
  /* justify-content: space-between; /* first and last items are aligned to the edge of the container and equally distubte to remaining items */
  /* justify-content: space-evenly;   */
  align-items: center; /* Y axis or cross axis */
}

/* flexbox + marign-auto beauty */
/* Left justifying one flex item and right justiying the other flex-items think this of navigation menu logo(item-1) and other items */
.item-1 {
  margin-right: auto;
}
.item-2 {
  align-self: flex-end; /* Strech is the default value */
}

/* Orders: Orders properties are useful for reordering the content columns on the mobile and desktop screens :
Suppose on mobile screens you can place a featured content column above all the columns and then make the columns appears second on desktop screens .. */

/* order values in flex */
/* flex items relative to the others item's order values */
.item-5 {
  order: -1; /* by default all have order: 0 */
}
.item-1 {
  order: -2;
}


.sample {
  flex: flex-grow flex-shrink flex-basis ; /* basis is replace for normal width of a element */
  flex: 1 1 auto;
  flex 1 1 25%;  
}
